<ng-container *ngIf="data$ | async as data; else errorOrLoading">
  <stk-web-sync-wrapper [dataName]="dataName"
                        [data]="data"
                        [dataTemplate]="dataTemplate">
  </stk-web-sync-wrapper>
</ng-container>

<ng-template #errorOrLoading>
  <ng-container *ngIf="error$ | async as error; else loading"
                #error>
    <stk-web-error [dataName]="dataName"
                   [error]="error"></stk-web-error>
  </ng-container>
  <ng-template #loading>
    <stk-web-loading [dataName]="dataName"></stk-web-loading>
  </ng-template>
</ng-template>
